*.jar
*.log
*.json
*.yml
*.txt
*.dat
.console_history
server.properties
typescript
bluemap/
config/
deactivated_plugins/
help.yml
libraries/
logs/
plugins/
versions/
world/
world_nether/
world_the_end/
